/* You can add global styles to this file, and also import other style files */

//Layout

.alain-default .page-header{
    margin:15px;
}

.csp_aside{
    position:fixed;
    top:48px;
}
.entity-tab{
    position:fixed;
    top:64px;
    width:100%;
}

.csp_outer_content{
    margin-top:127px !important;
    margin-left:224px;
}